body {
  width: 100%;
  height: 100vh; /*The vh unit stands for viewport height, and is relative to 1% of the height of the viewport.*/
  margin: 0; /*to get rid of the horizontal scroll-bar added by some browsers, set the body default margin to 0*/
  background-color: #efe0e6; //EFE0E6
}

.headerTitle {
  transform: scaleX(100vw);
  transform: scaleY(100vh)
}
.family {

}
.loyalty {

}
.death {

}
.dreamers {

}
